<h1><%= params[:action] %></h1>
Hello This is my Sample Ruby on Rails Project Home page..




Thank you for looking my web site

Anil. I am learing and developing this web site...

Powered By....<a href="mailto:anilsreddy@gmail.com">Anil S Reddy</a>...

